*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/artifacts/project_war.xml
.idea/artifacts/project_war_exploded.xml
.idea/libraries/Maven__junit_junit_3_8_1.xml
project.iml
.idea
/build
/target
bin/
.project
.settings/org.eclipse.wst.common.project.facet.core.xml
.classpath
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
.settings/org.eclipse.wst.validation.prefs
WebContent/META-INF/MANIFEST.MF
.settings/org.eclipse.core.resources.prefs
