body{
    background-color: #f2f2f2;
    margin: 0 0 15em;
}

html {
	position: relative;
	min-height: 100%;
}

.loggedInUser{
	padding-top: 15px;
}

img{
	border-radius: 1em;
}

.btn{
	background-color: #23C48F;
	color: #333;
}

.btn:hover{
	background-color: #2AEDAD;
	color: #FFF;
}

.search-button{
	padding-top: 6px;
	padding-bottom: 6px;
}

/* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }

.raceTypeImage{
	width: 100%;
	height: 225px;
	opacity: .7;
}

/* Footer */
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	padding-top: 2em;
	height: 15em;
	width: 100%;
	display: table;
}

footer .center-wrapper {
	background-color: #332F28;
	display: table-cell;
	vertical-align: middle;
}

footer .row {
	margin-bottom: 1em;
}